﻿@using TestWebApi.Model;
@model Buku;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*ini edit buku*@
<form method="post" asp-controller="Home" asp-action="Edit">
    <input type="hidden" name="IsAvailble" value="1"></input>
    <input type="hidden" name="IsDelete" value="0"></input>
    <div class="card">
        <div class="card-header h3">Edit Buku</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Judul</label>
                <input class="form-control" type="text" name="Judul" value="@Model.Judul"></input>
            </div>
            <div class="row">
                <label class="form-label">Pengarang</label>
                <input class="form-control" type="text" name="Pengarang" value="@Model.Pengarang"></input>
            </div>
            <div class="row">
                <label class="form-label">Penerbit</label>
                <input class="form-control" type="text" name="Penerbit" value="@Model.Penerbit"></input>
            </div>
            <div class="row">
                <label class="form-label">Tanggal Terbit</label>
                <input class="form-control" type="text" name="tanggaTerbit" value="@Model.TanggaTerbit"></input>
            </div>
            <hr />
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success float-end"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</form>