﻿@using TestWebApi.Model;
@model int
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="card-header h3">Hapus judul buku</div>
    <div class="card-body">Yakin untuk menghapus?</div>
    <div class="footer">
        <div class="d-flex justify-content-between">
            &nbsp;
            <form asp-action="Hapus" asp-controller="Home" method="post" id="frmDeleteCategory">
                <input type="hidden" name="Id" value="@Model"></input>
                <button type="submit" id="btnYa" class="btn btn-danger float-end"><i class="fas fa-save"></i>Yes</button>
                <a asp-action="Index" asp-controller="Home"><button type="button" id="btnTidakHapus" class="btn btn-outline-dark float-end"> No</button></a>
            </form>
        </div>
    </div>
</div>
