﻿@using TestWebApi.Model;

@{
    ViewData["Title"] = "Home Page";
}

@model List<Buku>

<div class="card">
    <div class="card-header h3 d-flex justify-content-between">List Buku Perpustakaan <a asp-controller="Home" asp-action="Add"><button class="btn btn-sm btn-success" id="btnAdd"><i class="fas fa-plus"></i> Tambah</button></a> </></div>
    <div class="card-header">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Pengarang</th>
                    <th>Tahun Terbit</th>
                    <th>Penerbit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Buku book in Model)
                {
                    <tr>
                        <td>@book.Judul</td>
                        <td>@book.Pengarang</td>
                        @if (book.TanggaTerbit == null)
                        {
                            <td>-</td>
                        } else
                        {
                            <td>@book.TanggaTerbit.Value.Year</td>
                        }

                        <td>@book.Penerbit</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Home" asp-route-id="@book.Id" class="text-decoration-none">
                                <button class="btn btnEdit btn-sm btn-info"> Edit</button>
                            </a>
                            <a asp-action="Hapus" asp-controller="Home" asp-route-id="@book.Id" class="text-decoration-none">
                                <button class="btn btnDelete btn-sm btn-danger"> Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        //$("#btnAdd").click(function () {
        //    $("#mymodalbody").load("Home/Add/")
        //    $("#mymodal").modal("show");
        //});

        //$(".btnEdit").click(function () {
        //    var bookId = $(this).data("bookid");
        //    $("#mymodalbodyLg").load("Home/Edit/" + bookId)
        //    $("#mymodalLg").modal("show");
        //});

        $(".btnDetails").click(function(){
            var categoryId = $(this).data("categoryid");
            $("#mymodalbodyLg").load("Category/Detail/" + categoryId)
            $("#mymodalLg").modal("show");
        });

        //$(".btnDelete").click(function () {
        //    var categoryId = $(this).data("categoryid");
        //    $("#mymodalbody").load("Category/Delete/" + categoryId)
        //    $("#mymodal").modal("show");
        //});
    });

</script>
